<header>

  <div class="clearfix max-width-2 mx-auto">
    <div class="k left">
      <h1 class="m0 right-align">K</h1>
    </div>
    <div class="dot">
      <div class="right p2 ml1">
        <img class="circle" src="{{ "/assets/kendrick-photo-2.png" | prepend: site.baseurl | prepend: site.url }}"/>
      </div>
    </div>
  </div>

  <h3 class="m1 center">— SAYS —</h3>
  <div class="clearfix mb4 max-width-4 mx-auto">
    <p class="h4 col sm-col-10 md-col-4">
      The immensely popular Google Font service is dead simple, and displays type beautifuly.
      Widespread use of the Google Font API on the web also means lots of cross-site caching.
      Everyone wins when users can avoid re-downloading fonts and speeding up load times.
      <br /><br />
      Google hosts over 600 fonts in their library.
    </p>
    <p class="h4 col sm-col-10 md-col-4">
      Unfortunately, most of them are downright terrbile.
      There are however, a few notable exceptions which are presented below.
      <br /><br />
      The most difficult task facing a new user of the directory is simply sorting
      out the high-quality typefaces from the fluff.
    </p>
    <p class="h4 col sm-col-10 md-col-4">
      This website features the lyrical mastery of rapper Kendrick Lamar,
      set to a curated selection of the highest quality Google Fonts.
      <br /><br />
      Clicking on an example will re-direct you to the Google web fonts directory.
    </p>
  </div>

  <section class="clearfix dark-flower white py3">
    <div class="max-width-3 mx-auto">
      <div class="col col-6">
        <h3 class="h4 max-width-1 mx-auto pl2">
          The following site, showcases the best type on Google Fonts
          in an attempt to cut through the clutter of more than 600 fonts available through the service.
        </h3>
      </div>
      <div class="col col-6">
        <ul class="h4 max-width-1 mx-auto pl2">
          <li>Maintained by <a href="http://www.alexanderadkins.com" class="show-link">Alexander Adkins</a>.</li>
          <li>I tweet at <a href="https://twitter.com/handsomecraft" class="show-link">@handsomecraft</a>.</li>
          <li>Fork the code on <a href="http://www.github.io/p0ww0w" class="show-link">Github</a>.</li>
        </ul>
      </div>
    </div>
  </section>

</header>
