<header>

  <div class="clearfix max-width-2 mx-auto">
    <div class="k left">
      <h1 class="m0 right-align">K</h1>
    </div>
    <div class="dot">
      <div class="right p2 ml1">
        <img class="circle" src="{{ "/assets/kendrick-photo-2.png" | prepend: site.baseurl | prepend: site.url }}"/>
      </div>
    </div>
  </div>

  <h3 class="m1 center">— SAYS —</h3>
  <div class="clearfix mb4 max-width-4 mx-auto">
    <a href="https://www.google.com/fonts/specimen/Karla" title="Karla">
      <p class="h4 col sm-col-10 md-col-4">
        The immensely popular Google Font service is dead simple, and displays type beautifully.
        Widespread use of the Google Font API on the web also means lots of cross-site caching.
        Everyone wins when users can avoid re-downloading fonts and speeding up load times.
        <br /><br />
        Google hosts over 600 fonts in their library.
      </p>
      <p class="h4 col sm-col-10 md-col-4">
        Unfortunately, most of them are downright terrible.
        There are however, a few notable exceptions which are presented below.
        <br /><br />
        The most difficult task facing a new user of the directory is simply sorting
        out the high-quality typefaces from the fluff.
      </p>
      <p class="h4 col sm-col-10 md-col-4">
        This website features the lyrical mastery of rapper Kendrick Lamar,
        set to a curated selection of the highest quality Google Fonts.
        <br /><br />
        Clicking on an example will re-direct you to the Google web fonts directory.
      </p>
    </a>
  </div>
</header>
