/*
 * Header Specific Classes
 */


 /* Variables */

  $aqua: #7fdbff;
  $blue: #0074d9;
  $navy: #001f3f;
  $teal: #39cccc;
  $green: #2ecc40;
  $olive: #3d9970;
  $lime: #01ff70;
  $yellow: #ffdc00;
  $orange: #ff851b;
  $red: #ff4136;
  $fuchsia: #f012be;
  $purple: #b10dc9;
  $maroon: #85144b;
  $white: #fff;
  $silver: #ddd;
  $gray: #aaa;
  $black: #111;

  $moody-blue: #7F87C8;
  $rose-quartz: #AA93A5;
  $san-marino: #3E5AB3;


 .aqua { color: #7fdbff; }
 .blue { color: #0074d9; }
 .navy { color: #001f3f; }
 .teal { color: #39cccc; }
 .green { color: #2ecc40; }
 .olive { color: #3d9970; }
 .lime { color: #01ff70; }
 .yellow { color: #ffdc00; }
 .orange { color: #ff851b; }
 .red { color: #ff4136; }
 .fuchsia { color: #f012be; }
 .purple { color: #b10dc9; }
 .maroon { color: #85144b; }
 .white { color: #fff; }
 .silver { color: #ddd; }
 .gray { color: #aaa; }
 .dark { color: #222; }
 .black { color: #111; }

 .moody-blue { color: #7F87C8; }
 .rose-quartz { color: #AA93A5; }
 .san-marino { color: #3E5AB3; }

 .bg-aqua { background-color: #7fdbff; }
 .bg-blue { background-color: #0074d9; }
 .bg-navy { background-color: #001f3f; }
 .bg-teal { background-color: #39cccc; }
 .bg-green { background-color: #2ecc40; }
 .bg-olive { background-color: #3d9970; }
 .bg-lime { background-color: #01ff70; }
 .bg-yellow { background-color: #ffdc00; }
 .bg-orange { background-color: #ff851b; }
 .bg-red { background-color: #ff4136; }
 .bg-fuchsia { background-color: #f012be; }
 .bg-purple { background-color: #b10dc9; }
 .bg-maroon { background-color: #85144b; }
 .bg-white { background-color: #fff; }
 .bg-silver { background-color: #ddd; }
 .bg-gray { background-color: #aaa; }
 .bg-dark { background-color: #222; }
 .bg-black { background-color: #111; }

 .bg-rose-quartz { background-color: #AA93A5; }
 .bg-san-marino { background-color: #3E5AB3; }
 .bg-moody-blue { background-color: #7F87C8; }
